<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevPortfolio</title>
    {% load static %}

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <!-- React статика -->
    <link rel="stylesheet" href="{% static 'assets/index.2VGUTSQD.1788245904222.css' %}">
</head>
<body>
    <div id="root"></div>
    <script type="module" src="{% static 'assets/index.0X59hJK9.1788245904222.js' %}"></script>
</body>
</html>
